@import "./styles/header-panel";
@import "./styles/section1-table"; 
@import "./styles/context-menu";
@import "./styles/modal";
@import "./styles/modal2";
@import "./styles/login";
@import "./styles/register";


body, html{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}