.container-menu{
    position: absolute;
    background: white;
    border: 3px solid #aaa;
    padding: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    p{
        padding: 5px;
        cursor: pointer;
        &:hover{
            background-color: yellow;
        }
    }
}