@import "../mixins/mixin";
#app{
height: 100%;

.section-login{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    background-color: #869E9A;
    .container-img-login{
        width: 70%;
          height: 100%;
        img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    
    .container-login{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
       
     
        .group-button-login{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            button{
                
                @include createButton();
                cursor: pointer;
                &:hover{
                    background-color: gray;
                }
            }
        }
        .form-singup{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:20px;
            justify-content: center;
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            input{
                height: 30px;
                border-radius: 10px;
                width: 300px;
            }
            button{
                
                  @include createButton();
                  cursor: pointer;
                  &:hover{
                    background-color: gray;
                }
            }
        }
    }
}
}