@import "../mixins/mixin";

div {
  display: flex;
  justify-content: center;

  .button-newUser {
    @include createButton();
    margin: 0 auto;
  }
}
#app{
height: 80%;
background-color: #869E9A;
.button-newUser{
  @include createButton();
  cursor:pointer;
  &:hover{
    background-color: grey;
  }
}
.section-table {
 
  padding: 30px;
  height: 80%;
  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    display: block;
    text-align: center;
    font-size: 1.125rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    
    }

    thead th {
      position: sticky;
      top: 0;
      background: white;
      z-index: 2;
      border-bottom: .125rem solid black;
      padding: .3125rem;
    }

    tbody {
      display: block;
      
      overflow-y: auto;
      height: 95%;
      tr{
        &:hover{
          background-color: grey;
        }
         td {
        border: .0625rem solid black;
        padding: .3125rem;
      }
      }
     
    }
  }
}
}